SampleClient produces a System.ObjectDisposedException exception

From [master/Tftp.Net.SampleClient/Program.cs](../blob/master/Tftp.Net.SampleClient/Program.cs#L29)
```
//Start the transfer and write the data that we're downloading into a memory stream
Stream stream = new MemoryStream();
transfer.Start(stream);

//Wait for the transfer to finish
TransferFinishedEvent.WaitOne();
using (var reader = new StreamReader(stream))
{
	stream.Position = 0;
	Console.WriteLine(reader.ReadToEnd());
}
```

Produces a `System.ObjectDisposedException: 'Cannot access a closed Stream.'` when server does not accept any options (RFC 2349, RFC 2347, RFC 2348).

This can be fixed in the client sample using `Encoding.ASCII.GetString(stream.ToArray())` (`ToArray` is a `MemoryStream` method) instead of the StreamReader. However this does not provide a good fix for the underlying problem. I did not look into why the Stream is disposed too early. When the server accepts the options the implementation is fine and works as expected. 

I am guessing that the [master/Tftp.Net/Transfer/TftpTransfer.cs#L206](../blob/master/Tftp.Net/Transfer/TftpTransfer.cs#L206) `TftpTransfer` should not `Close` the `Stream` if it is provided externally in the `Dispose` method. 
But why did it not throw the excpetion when the server accepted the options is very weird. 

I think your problem is that you are closing the stream twice.
1) TftpTransfer closes the stream when it's done with it
2) Your using() - statement closes the stream.

I believe your problem would be fixed by omitting your using statement. Instead, you can wrap the stream in a using-statement, if you like:
```
using (var transfer = client.Download("EUPL-EN.pdf"))
{
  //...
  TransferFinishedEvent.WaitOne();
}
```

Also please note that a StreamReader also closes the underlying stream. You can prevent that by using the leaveOpen constructor parameter of StreamReader.

I tried your solution:
![image](https://user-images.githubusercontent.com/5834926/86740521-0225fe00-c037-11ea-9df8-391662cae605.png)
Still getting the same exception. Remember that the server does not accept any of the option parameters: 
![image](https://user-images.githubusercontent.com/5834926/86741099-6e086680-c037-11ea-874f-5e56d4644e80.png)
As you can see the options are provide by the client but server does not accept them.
According to the [rfc](https://tools.ietf.org/html/rfc2347) 
```
   An option not acknowledged by the server must be ignored by the
   client and server as if it were never requested.  If multiple options
   were requested, the client must use those options which were
   acknowledged by the server and must not use those options which were
   not acknowledged by the server.
```
This works perfectly but the stream gets closed prematurely. In my eyes TftpTransfer should not close the stream. What if you want to use a reader on that stream? What if we want to pass that stream to a PUT request like so:
![image](https://user-images.githubusercontent.com/5834926/86742408-64cbc980-c038-11ea-9689-880b37823f77.png)




According to the [microsoft docs](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.close?view=netframework-3.5) by calling `Close` on the `Stream` you effectivly `Dispose` the `Stream`. Making your `TftpClient` `Start(Stream data)` only really usable as a `FileStream` because that one is persistent.  

For my scenario: gettings JSON from a remote tftp Server into memory and deserializing this data makes it kinda unusable.

I think if you really insist on closing the `Stream` then you should not pass it in as a parameter but rather return a closed `Stream` or something.

You should read my proposal again :) I was proposing that you wrap the transfer in a using() statement. Instead, you wrapped the memory stream in a using statement. That effectively introduces the "stream is closed twice" problem again.

Also, I just saw in your screenshot that you use the same stream in two different transfers:
`transfer` and `transferPut`.

I suggest you don't do that.

> You should read my proposal again :) I was proposing that you wrap the transfer in a using() statement. Instead, you wrapped the memory stream in a using statement. That effectively introduces the "stream is closed twice" problem again.

Maybe it is not so clear in the example that I am giving on your screen, but the accolades { } really run beyond where the `Reader.ReadToEnd()` is called (otherwise the `stream` variable would not be available)
In my code it is really not an issue with closing the stream twice. I checked and double checked it. Your `Dispose` method should not call `Close`, even when it does on a `MemoryStream` there is [no effect](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream?view=netframework-1.1) you can read the note: 
> This type implements the IDisposable interface, but does not actually have any resources to dispose. This means that disposing it by directly calling Dispose() or by using a language construct such as using (in C#) or Using (in Visual Basic) is not necessary.

But in this case it just closes the stream for reading and really the only thing you can then do with it is call the `MemoryStream.ToArray()` method. 
I feel like i need to make clear a basic construct like a `using` statement, but please try to run the example from the first post. Or just force it calling the Transfer.Dispose method. 

Here is a nice explanation:
https://stackoverflow.com/a/234257

> Calling Dispose won't clean up the memory used by MemoryStream any faster. It will stop your stream from being viable for Read/Write calls after the call, which may or may not be useful to you.

In this case Dispose calls Close and thats it. 

I think you should ask yourself a simple question: Does the `Stream` belong to the `TftpTransfer` eg is it holding the ONLY reference to it? Then it should call `Close` / `Dispose` 
If `TftpTransfer` is not the owner of the `Stream` object; it is created outside of its scope then it should not call the `Close` / `Dispose` method

I am aware of what you were saying. But I was honestly not planning on having a discussion about software design here. Therefore, I'm closing the issue as we seem to be done with your practical problem.